.container{
    margin-bottom: 100px;
}
.carousel-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF5898 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1, .cat2, .cat3{
 padding: 10px 30px;
 border-radius: 10px;
}
.cat1{
    background-color: orange;
    
}
.cat2{
    background-color: pink;
}
.cat3{
    background-color: blue;
}
.categories{
    color: white;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgrey;
}
.card-footer{
    background-color: white;
    border-top: none;
}
#Subscribe{
    height: 300px;  
    
}
#Subscribe h6{
    color: gray;
}
footer{
     text-align: center;
}